/* Trong file CreateTableFilterComponent.css */
  .table-container th, .table-container td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
.btn{
  padding: 5px;
  font-size: smaller;
}