/* Trong file CreateTableFilterComponent.css */
.table-container th, .table-container td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
}

.table-container th {
  text-align:center ;
  font-weight: bold;
}




.table-container table tbody tr:hover {
  background-color: aqua
}



.searchBtncheckall{
padding: 1px;
text-align: center;
}

.selected-row{
  background-color:aquamarine /* Màu nền mới khi dòng được chọn */
}




input{
  background-color: #f0f3f7;
  cursor: pointer; /* Đổi hình con trỏ khi hover */
}
/* Thiết lập màu nền cho các text field */
input[type="text"], input[type="email"], input[type="password"], textarea {
  cursor: text;
}


/* Thiết lập kiểu cho checkbox được chọn */
input[type="checkbox"]:checked {
  background-color: #007BFF; /* Màu nền xanh khi được chọn */
}
input[type="checkbox"]:not(:checked) {
  background-color: #f0f3f7;
}