.general{
  /* display: flex;
  flex-direction: row; */
  width: 50px;
  position: relative;
}

.title{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: auto;
  border: 1px solid black;
  /* padding: 2px; */
  box-sizing: border-box;
}
  
.child_bottom{
  position: absolute;
  /* margin-top: 2px; */
  top: 0%;
  right:-100%;
  width: 100%;
  border: 1px solid black;
  padding: 2px;
  box-sizing: border-box;
  margin-left: 2px;
}
  







.general_hover_Right{
  display: flex;
  width: 50px;
  position: relative;
  border: black 1px solid;
}

.title_hover_Right{
  /* position: absolute;
  top: 0;
  left:0; */
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-sizing: border-box;
}

.title_hover_Right::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 10px;
  z-index: -1;
}


.child_hover_Right{
  position: absolute;
  visibility: hidden;
  top: 0%;
  left: 100%;
  width: auto;
  border: 1px solid black;
  padding: 2px;
  box-sizing: border-box;
  margin-left: 2px;
}
  
  
.general_hover_Right:hover .child_hover_Right {
  visibility: visible; /* Hiển thị phần tử khi hover */
}





.general_hover_Bottom{
  width: 100px;
  height: auto;
  position: relative;
border: 1px solid black;
}

.title_hover_Bottom{
  /* position: absolute;
  top: 0;
  left:0; */
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-sizing: border-box;
}

.title_hover_Bottom::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 0%;
  z-index: -1;
}


.child_hover_Bottom{
  position: absolute;
  visibility: hidden;
  top: 100%;
  left: 0%;
  width: auto;
  border: 1px solid black;
  padding: 2px;
  box-sizing: border-box;
  margin-top: 2px;
}
  
  
.general_hover_Bottom:hover .child_hover_Bottom {
  visibility: visible; /* Hiển thị phần tử khi hover */
}








.general_hover{
  width: 100px;
  height: auto;
  position: relative;
border: 1px solid black;
}

.title_hover{
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-sizing: border-box;
}

.title_hover::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: 0%;
  z-index: -1;
}


.child_hover{
  position: absolute;
  visibility: hidden;
  top: 100%;
  left: 0%;
  width: auto;
  border: 1px solid black;
  padding: 2px;
  box-sizing: border-box;
  margin-top: 2px;
}
  
  
.general_hover:hover .child_hover {
  visibility: visible; /* Hiển thị phần tử khi hover */
}