
/* .container{
  min-width: 100%;
  display: flex;
  flex-direction: column;
  
}

.div_table_container{
  max-height: 200px;
  overflow-x:hidden;
  overflow-y: auto;

}  */



/* 
.div_table_container thead th {
  position: sticky;
  top: 0;
  z-index: 1;
} */
 
/* .div_table_container table {
  max-height: 50px; 
  overflow-y: auto; 
  border: 1px solid lightgray;
  width: auto;
  height: auto;
} */
/* .div_table_container tbody {
  border-bottom: 1px solid lightgray;
}  */

/* .div_table_container th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}  */




.container{
  min-width: 100%;
  display: flex;
  flex-direction: column;
}



.container table {
  max-height: 50px; /* Thiết lập chiều cao tối đa cho bảng */
  overflow-y: auto; 
  border: 1px solid lightgray;
  width: auto;
  height: auto;
}

.container tbody {
  border-bottom: 1px solid lightgray;
}

.container th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}

.dragcell:hover {
  background-color:aqua;
}


.resizer {
  position: absolute;
  top: 0;
  right: -0.1rem;
  /* căn chỉnh hiện thanh resize */
  height: 100%;
  width: 3px;
  /* background: rgba(0, 0, 0, 0.5); */
  background: transparent;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
 }

.resizer.ltr {
  right: 0;
}

.resizer.rtl {
  left: 0.1;
}

 .resizer.isResizing {
  background: rgb(160, 160, 204);
  opacity: 1;
}


