
/* .container{
  min-width: 100%;
  display: flex;
  flex-direction: column;
  
}

.div_table_container{
  max-height: 200px;
  overflow-x:hidden;
  overflow-y: auto;

}  */



/* 
.div_table_container thead th {
  position: sticky;
  top: 0;
  z-index: 1;
} */
 
/* .div_table_container table {
  max-height: 50px; 
  overflow-y: auto; 
  border: 1px solid lightgray;
  width: auto;
  height: auto;
} */
/* .div_table_container tbody {
  border-bottom: 1px solid lightgray;
}  */

/* .div_table_container th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
}  */




.container{
  min-width: 100%;
  display: flex;
  flex-direction: column;
}



.table_container table {
  max-height: 150px; /* Thiết lập chiều cao tối đa cho bảng */
  overflow-y: auto ; 
  border: 1px solid lightgray;
  width: auto;
  height: auto;
}

.table_container thead{
  /* background-color: #f1f1f1;   */
  position:relative;
  display: block;
  width:100%;
  /* overflow-y: scroll; */
  
}



.table_container tbody{
  /* Position */
  display: block; position:relative;
  width:100%; overflow-y:auto;
  /* Decoration */
  border-top: 1px solid rgba(0,0,0,0.2);
}




.table_container tr {
  /* border-bottom: 1px solid lightgray; */
  width: 100%;
  display:flex;
}


/* header table */
.table_container th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  /* border: 1px solid lightgray; */
  padding: 2px 4px;

  width: 100%;
 
  flex-basis:100%;
}

/* body table row */
.table_container td{
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  /* border: 1px solid lightgray; */
  padding: 2px 4px;

  width: 100%;
  display:flex;
  flex-basis:100%;
}

.body_container{
  max-height: 50vh;
}


.body_container_tr:hover {
  background-color:aqua;
}


.resizer {
  position: absolute;
  top: 0;
  right: -0.1rem;
  /* căn chỉnh hiện thanh resize */
  height: 100%;
  width: 3px;
  /* background: rgba(0, 0, 0, 0.5); */
  background: transparent;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
 }

.resizer.ltr {
  right: 0;
}

.resizer.rtl {
  left: 0.1;
}

 .resizer.isResizing {
  background: rgb(160, 160, 204);
  opacity: 1;
}