.atomic_block {
    /* Custom styles for atomic blocks (images) */
    margin: 0;
    padding: 0;
  }

  .atomic_block_image {
    /* Custom styles for atomic blocks (images) */
    margin: 0;
    padding: 0;
  }