.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
  }
  
  .editor :global(.public-DraftEditor-content) {
    min-height: 140px;
  }





  /* Override default figure styling */
.DraftEditor-root figure {
  margin: 0;              /* Remove default margins */
  display: block;   /* Inline block allows the figure to only take up necessary space */
  width: 100px;             /* Allow the width to be determined by the content (e.g., the image) */
}

/* Optional: Target only atomic blocks */
.DraftEditor-root .public-DraftStyleDefault-block[data-block-type="atomic"] figure {
  margin: 0;
  display: block;
  width: 100px;
}
