/* CSS */

.react-table_container{
  position: relative;
  max-height: 200px;
  width: 120vh;
  overflow-x: auto;
  overflow-y:auto; /* Enable vertical scrolling */
}
.react-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .react-table th,
  .react-table td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 100%;
  }
  
  .react-table th {
    background-color: #f2f2f2;
  }
  .react-table tr:hover {
    background-color: #f5f5f5; /* Màu nền highlight */
  }

  .highlighted{
    background-color: #f5f5f5; /* Màu nền highlight */
  }
  
 


/* Phần resizer */
.react-table-resizer {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px; /* Độ rộng của resizer */
  height: 100%; /* Chiều cao của resizer */
  background: transparent; /* Màu nền của resizer */
  transform: translateX(50%);
  z-index: 1;
  /* prevent scroll on touch devices */
  touch-action: none;
  cursor: col-resize; /* Con trỏ khi di chuột qua resizer */
}

/* Phần isResizing */
.react-table-isResizing {
  background-color: #f0f0f0; /* Màu nền khi đang thay đổi kích thước */
}

