.react-table-container {
  position: relative; /* Đảm bảo có position cho container */
  max-height: 200px;
  max-width: 800px;
  overflow-x: auto;
  overflow-y: auto;
}

.react-table {
  background-color: white;
  border: 1px solid #ccc;
  white-space: nowrap;
  width: inherit;
}

.react-table table {
  border-collapse: collapse;
  width: 100%;
}

.react-table th,
.react-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.react-table thead th {
  position: sticky;
  top: 0;
  z-index: 1; /* Đặt z-index cao hơn so với các component khác */
}

.react-table th {
  background-color: #f2f2f2;
  overflow: hidden; /* Ẩn phần nội dung vượt ra ngoài giới hạn của ô */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi nội dung bị ẩn */
  text-align: left;
  font-weight: bold;
  text-align: center;
}

.react-table td {
  overflow: hidden; /* Ẩn phần nội dung vượt ra ngoài giới hạn của ô */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm khi nội dung bị ẩn */
  border: 1px solid #ccc;
  padding: 5px;
}

.react-table tr:hover {
  background-color: #f5f5f5;
  /* Màu nền highlight */
}

.react-table-highlighted {
  text-decoration-color: aquamarine;
  background-color: #f5f5f5;
  /* Màu nền highlight */
}

.react-table-resizer {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: transparent;
  transform: translateX(50%);
  touch-action: none;
  cursor: col-resize;
}

.react-table-isResizing {
  z-index: 1;
  background-color: #eb5656;
  /* Màu nền khi đang thay đổi kích thước */
}
